<h2>Time Tables</h2>

<table class="table table-striped">
  <tr>
    <th>Fixed start</th>
    <th>Fixed end</th>
    <th></th>
  </tr>

<% @time_tables.each do |time_table| %>
  <tr>
    <td>
      <%= strf_double time_table.fixed_start_hours %> :
      <%= strf_double time_table.fixed_start_minutes %>
    </td>
    <td>
      <%= strf_double time_table.fixed_end_hours %> :
      <%= strf_double time_table.fixed_end_minutes %>
    </td>
    <td>
      <%= link_to edit_time_table_path(time_table) do %>
        <i class="icon-pencil"></i>
      <% end %>
      <%= link_to time_table, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="icon-remove"></i>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<% if @time_tables.empty? %>
<%= link_to new_time_table_path, class: "btn btn-small" do %>
  <i class="icon-plus-sign"></i> New
<% end %>
<% end %>
