<%= form_tag sessions_path, :class => "span3" do %>
  <h2>Log in</h2>
  <% if flash[:error] %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:error] %>
  </div>
  <% end %>
  <% if notice %>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </div>
  <% end %>
  <%= text_field_tag :email, params[:email], :class => "input-block-level", :placeholder => "Email address"%>
  <%= password_field_tag :password, nil, :class => "input-block-level", :placeholder => "Password" %>
  <%= hidden_field_tag :referer, flash[:referer] %>
  <!-- TODO:Remember me -->
  <%= submit_tag 'Log in', :class => "btn btn-primary pull-right" %>
<% end %>