<h1>Listing monthlies</h1>

<table>
  <tr>
    <th>User</th>
    <th>Year</th>
    <th>Month</th>
    <th></th>
    <th></th>
  </tr>

<% @monthlies.each do |monthly| %>
  <tr>
    <td><%= monthly.user_id %></td>
    <td><%= monthly.year %></td>
    <td><%= monthly.month %></td>
    <td><%= link_to 'Show', monthly %></td>
    <td><%= link_to 'Destroy', monthly, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Monthly', new_monthly_path %>
