<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @monthly.user_id %>
</p>

<p>
  <b>Year:</b>
  <%= @monthly.year %>
</p>

<p>
  <b>Month:</b>
  <%= @monthly.month %>
</p>


<%= link_to 'Back', monthlies_path %>
