<%= form_for(@time_record) do |f| %>
<% if @time_record.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@time_record.errors.count, "error") %> prohibited this time_record from being saved:</h2>

  <ul>
    <% @time_record.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.hidden_field :user_id %>

<div class="field">
  <%= f.label :date %>
  <%= f.date_select :date, :use_month_numbers => true %>
</div>
<div class="field">
  <%= f.label :in %>
  <%= f.time_select :in, :minute_step => 10 %>
</div>
<div class="field">
  <%= f.label :out %>
  <%= f.time_select :out, :minute_step => 10 %>
</div>
<div class="field">
  <%= f.label :note %>
  <%= f.text_field :note %>
</div>
<% end %>
