<div class="page-header">
  <h1><%= current_user.email %>'s time records</h1>
</div>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>In</th>
    <th>Out</th>
    <th>Note</th>
    <th></th>
  </tr>

<% @time_records.each do |time_record| %>
  <tr>
    <td><%= strf_day(time_record.date) %></td>
    <td><%= strf_time(time_record.in) %></td>
    <td><%= strf_time(time_record.out) %></td>
    <td><%= time_record.note %></td>
    <td>
      <%= link_to 'Edit', edit_time_record_path(time_record), :class => "btn" %>
      <%= link_to 'Destroy', time_record, method: :delete, :class => "btn", data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<div>
  <%= link_to 'New', new_time_record_path, :class => "btn" %>
</div>
