<h2>
  <small>Time Records</small> <%= link_to strf_monthly(session[:monthly]), time_records_path_with_monthly(session[:monthly]) %>
</h2>
<div class="row-fluid">
  <div class="span9">
    <table class="table">
      <tr>
        <th>Date</th>
        <th>In</th>
        <th>Out</th>
        <th>Note</th>
        <th></th>
      </tr>
      <% @time_records.each do |time_record| %>
        <%= render 'index_row', :time_record => time_record %>
      <% end %>
    </table>
    <% if session[:monthly] %>
      <%= link_to session[:monthly], :method => :delete, :data => { confirm: 'Are you sure?'} do %>
        <i class="icon-trash"></i> Delete records
      <% end %>
    <% end %>
  </div>
  <div class="span3">
    <div class="sidebar-nav">
      <div class="accordion" id="accordion">
        <% @monthlyHash.each do |year, monthlies| %>
          <%= render 'monthlies_accordion', :year => year, :monthlies => monthlies %>
        <% end %>
        <%= link_to new_monthly_path, class: "btn btn-small", remote: true do %>
          <i class="icon-plus-sign"></i> New Monthly
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Modal Dialog -->
<div id="modalForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
    <h3 id="modalHeaderLabel"></h3>
  </div>
  <div id="modalBody" class="modal-body"/>
    <!-- _modal_form is rendered here-->
  </div>
  <div class="modal-footer">
    <a id="modalDelete" href="#" class="pull-left" data-method="delete" rel="nofollow" data-remote="true">
      <i class="icon-trash"></i>Delete
    </a>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id="modalFormSubmit" class="btn btn-primary">Save</button>
    <!-- TODO ajax and prevent double click -->
  </div>
</div>
