<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h1><%= current_user.email %>'s time records</h1>
    </div>
    <table class="table table-striped">
      <tr>
        <th>Date</th>
        <th>In</th>
        <th>Out</th>
        <th>Note</th>
        <th></th>
      </tr>
      <% @time_records.each do |time_record| %>
        <tr id="tr-<%= time_record.id%>">
          <td><%= strf_day(time_record.date) %></td>
          <td><%= strf_time(time_record.in) %></td>
          <td><%= strf_time(time_record.out) %></td>
          <td><%= time_record.note %></td>
          <td>
            <%= link_to edit_time_record_path(time_record), remote: true do %>
              <i class="icon-pencil"></i>
            <% end %>
            &nbsp;
            <%= link_to time_record, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
              <i class="icon-remove"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <div>
      <%= link_to 'New', new_time_record_path, class: "btn", remote: true %>
    </div>
  </div>
</div>


<!-- Modal Dialog -->
<div id="modalForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
    <h3 id="modalHeaderLabel"></h3>
  </div>
  <div id="modalBody" class="modal-body"/>
    <!-- _modal_form is rendered here-->
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id="modalFormSubmit" class="btn btn-primary">Save</button>
    <!-- TODO prevent double click -->
  </div>
</div>
