<%= form_for(@working_time) do |f| %>
  <% if @working_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@working_time.errors.count, "error") %> prohibited this working_time from being saved:</h2>

      <ul>
      <% @working_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'start' %><br />
    <div>
      <%= f.number_field :start_hours, class: 'input-small' %>:
      <%= f.number_field :start_minutes, class: 'input-small' %>
    </div>
  </div>
  <div class="field">
    <%= f.label 'end' %><br />
    <div>
      <%= f.number_field :end_hours, class: 'input-small' %>:
      <%= f.number_field :end_minutes, class: 'input-small' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
