<%= form_for(@working_time) do |f| %>
  <% if @working_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@working_time.errors.count, "error") %> prohibited this working_time from being saved:</h2>

      <ul>
      <% @working_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :start_hours %><br />
    <%= f.number_field :start_hours %>
  </div>
  <div class="field">
    <%= f.label :start_minutes %><br />
    <%= f.number_field :start_minutes %>
  </div>
  <div class="field">
    <%= f.label :end_hours %><br />
    <%= f.number_field :end_hours %>
  </div>
  <div class="field">
    <%= f.label :end_minutes %><br />
    <%= f.number_field :end_minutes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
