<h1>Listing working_times</h1>

<table>
  <tr>
    <th>User</th>
    <th>Start hours</th>
    <th>Start minutes</th>
    <th>End hours</th>
    <th>End minutes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @working_times.each do |working_time| %>
  <tr>
    <td><%= working_time.user %></td>
    <td><%= working_time.start_hours %></td>
    <td><%= working_time.start_minutes %></td>
    <td><%= working_time.end_hours %></td>
    <td><%= working_time.end_minutes %></td>
    <td><%= link_to 'Show', working_time %></td>
    <td><%= link_to 'Edit', edit_working_time_path(working_time) %></td>
    <td><%= link_to 'Destroy', working_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Working time', new_working_time_path %>
