<p id="notice"><%= notice %></p>

<p>
  <b>Start hours:</b>
  <%= @working_time.start_hours %>
</p>

<p>
  <b>Start minutes:</b>
  <%= @working_time.start_minutes %>
</p>

<p>
  <b>End hours:</b>
  <%= @working_time.end_hours %>
</p>

<p>
  <b>End minutes:</b>
  <%= @working_time.end_minutes %>
</p>


<%= link_to 'Edit', edit_working_time_path(@working_time) %> |
<%= link_to 'Back', working_times_path %>
