<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KintaiMemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <% if controller_name != 'sessions' %>
    <% if current_user %>
    <div class="row-fluid">
      <div class="span5">Logged in as <%= current_user.email %></div>
      <div class="span2 offset5">
        <%= link_to("Log out", session_path(current_user.id), {:method => 'delete'}) %>
      </div>
    </div>
    <% else %>
    <div class="row-fluid">
      <%= link_to("Log in", login_path) %>
    </div>
    <% end %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
